{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    
	<center>
	
		<h4>
	Правильне харчування - тренд сучасного суспільства, прихильного здорового способу життя. Про правильне харчування написано сотні книг і тисячі статей, однак, всі вони, як правило, говорять про загальні принципи і рекомендаціях дієтологів.
		</h4>
		<h5><i>
	На цьому сайті ми наведемо конкретні приклади смачних і корисних рецептів, які ви без зусиль зможете приготувати у себе вдома.
		</i></h5>
		
	 <img align = "center" src="{% static 'images/main.jpg' %}" alt=""/>
	 
	</center>
{% endblock %}

{% include 'blog/pagesfooter.html' %}